*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.displayStyle{
    height: 100vh;
    width: 100%;
    background-color: #34495e;
    position: relative;
    overflow: hidden ;
 /* border: 1px solid red; */
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background:transparent;
    border: 1px solid #fff;
    outline: none;
    cursor:pointer;
    border-radius: 20px;
}
.downloadbtn{
    color:#fbfcfd;
    padding:10px 25px;
    outline:none;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
}
.content{
    color:#fbfcfd;
    z-index: 2;
    /* position: absolute;
    top: 50%;
    left: 24%;
    transform: translateY(-50%);
    z-index: 2; */
}
h1{
    font-size:70px;
    margin:10px 0 30px;
    line-height: 80px;
}
h4{
    font-size: 2rem;
}
.side-icon{
    width: 50px;
    height:100vh;
    background:linear-gradient(#34495e,#000729,#34495e);
    position: absolute;
    right: 0;
    top: 0;
}
.social-icons img{
    width: 35px;
    margin:15px auto;
    cursor: pointer;
}
.social-icons{
    width: 50px;
    text-align:center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* bubble and animation part  */

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
};

/* set different size of bubble  */

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
}
.bubbles img:nth-child(3){
    animation-delay: 6s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 7s;
}
.bubbles img:nth-child(6){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 6s;
}
.bubbles img:nth-child(8){
    animation-delay: 3.5s;
    width: 35px;
}